/* General styles */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: cousine, monospace;
    width: 100%;
    line-height: 1.5em;
    min-width: 300px;
}

h1,
h2 {
    color: #fbb7f4;
}

h2 {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #fbb7f4;
}

a:hover {
    color: #666;
}

p {
    padding: 1em 0;
    text-align: center;
    color: #666;
}

figcaption {
    color: #fbb7f4;
    font-size: 14px;
}

span {
    color: #fbb7f4;
    font-size: 20px;
}

ul {
    list-style: none;
}

/* Header */


.header {
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
    width: 100%;
    position: fixed;
    z-index: 100;
    min-height: 48px;
    overflow: hidden;
    box-shadow: 0 2px 2px #eee;
    -webkit-box-shadow: 0 1px 1px #eee;
    -moz-box-shadow: 0 1px 1px #eee;
}

.header-inner {
    display: inline-block;
    padding-left: 0.5em;
    margin: 1em;
    overflow: hidden;
    min-height: 30px;
}

.header-logo {
    width: 35px;
    vertical-align: middle;
}

.header-name {
    display: inline-block;
    padding-left: 0.3em;
    vertical-align: middle;
    font-size: 1.7em;
    font-weight: 400;
}

.header-navbar {
    display: none;
    float: right;
    padding:  0.5em;
    margin: 1.3em 2em 1.3em 0;
    background-color: #fbb7f4;
    border-radius: 25px;
}

.header-navbar.open {
    display: inline;
}

.header-navbar li {
    float: left;
    padding: 0 1em;
}

.nav-item {
    color: #fff;
    float: left;

}

.header-hamburger {
    width: 3em;
    fill: #fbb7f4;
    position: absolute;
    right: 0;
    padding: 0.5em;
    margin: 0.5em;
}

/* End Header */

/* Main */

main {
    width: 80%;
    margin: 0 auto;
}

/* About section */

#about {
    display: flex;
    flex-wrap: wrap;
}

.about-image {
    width: 100%;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 180px;
    height: 180px;
}

.about-info {
    width: 100%;
}

#about {
    padding-top: 8em;
}

.link-info:hover {
    color: #666;

}

/* End about section */

/* Work section */

.work-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 0;
}

.work-item {
    width: 100%;
    padding: 1.5em 0;
}

.work-item img {
    width: 100%;
    border-radius: 4px;
}

.work-abilities li {
    padding: 1em 0;
    color: #666;
    line-height: 1.2em;
}


.fas {
    color: #fbb7f4;
    padding-right: 1em;
    font-size: 0.6em;
}

/* End work section */

/* Contact section */

#contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2em 0;
}

.contact-info {
    width: 100%;
}

.contact-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-image img {
    width: 280px;
    height: 200px;
    border-radius: 4px;
}

.email {
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

.contact-social {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.contact-social li {
    margin: 1em;
}

.fab {
    padding: 1em;
    font-size: 0.8em;
    border-radius: 50%;
    background-color: #666;
}

.fab:hover {
    border: 2px solid #fbb7f4;
    background-color: #fbb7f4;
}


/* End contact section */

/* TABLET */

@media screen and (min-width:700px) {
    .main {
        width:700px;
    }
    .header-navbar {
        display: inline;
    }

    .header-logo {
        width: 48px;
    }

    .header-name {
        font-size: 2.3em;
    }

    .header-hamburger {
        display: none;
    }

    #about {
        padding-bottom: 5em;
    }

    .about-info {
        width: 50%;
        padding-right: 2em;
    }

    .about-image {
        width: 50%;
        padding-top: 2em;
        padding-right: 10em;
    }

    .about-image img {
        width: 240px;
        height: 240px;
    }

    .contact-info {
        width: 50%;
        padding-right: 2em;
    }

    .contact-image {
        width: 50%;
        display: flex;
        justify-content: center;
        padding-left: 5em;
    }

    .contact-image img {
        max-width: 360px;
        max-height: 270px;
        display: flex;
        justify-content: center;
    }

    .work-item {
        width: 50%;
        padding: 2em;
    }

    .work-item img {
        width: 250px;
        height: 170px;
    }

    .fab {
        font-size: 1em;
    }
}

/* DESKTOP */

@media screen and (min-width:1000px) {
    .work-item {
        width: 33%;
    }

}