/* General styles */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: cousine, monospace;
    width: 100%;
    line-height: 1.5em;
    min-width: 350px;
    font-size: 1.2em;
}

h1,
h2 {
    color: #fbb7f4;
}

h2 {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #fbb7f4;
}

a:hover {
    color: #666;
}

p {
    padding: 1em 0;
    text-align: center;
    color: #666;
}

figcaption {
    color: #fbb7f4;
    font-size: 18px;
}

span {
    color: #fbb7f4;
    font-size: 20px;
}

ul {
    list-style: none;
}

/* Header */


.header {
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
    width: 100%;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    box-shadow: 0 2px 2px #eee;
    -webkit-box-shadow: 0 1px 1px #eee;
    -moz-box-shadow: 0 1px 1px #eee;
}

.header-inner {
    display: inline-block;
    padding-left: 0.5em;
    margin: 1em 1em 0.2em 1em;
    overflow: hidden;
    min-height: 30px;
}

.header-logo {
    width: 35px;
    vertical-align: middle;
}

.header-name {
    display: inline-block;
    padding-left: 0.3em;
    vertical-align: middle;
    font-size: 1.7em;
    font-weight: 300;
}

.header-navbar {
    display: none;
    background-color: #fbb7f4;
    text-align: center;
    border-radius: 4px;
}

.header-navbar.open {
    display: inline-block;
}

.header-navbar li {
    display: inline-block;
    padding: 0.1em 0.7em;
}

.nav-item {
    color: #fff;
}

.header-hamburger {
    width: 2.5em;
    fill: #fbb7f4;
    position: absolute;
    right: 0;
    padding: 0.5em;
    margin: 0.5em;
}

/* End Header */


/* About section */

#about {
    padding: 0 2em 3em 2em;
    display: flex;
    flex-wrap: wrap;
}

.about-image {
    width: 100%;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 180px;
    height: 180px;
    border-radius: 2%;
}

.about-info {
    width: 100%;
}

#about {
    padding-top: 8em;
}

.link-info:hover {
    color: #666;

}

/* End about section */

/* Work section */
#work {
    background-color: rgb(250, 250, 250);
    padding: 3em 2em;
}

.work-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding: 5em 0.5em 3em 0.5em;
}

.work-item {
    width: 100%;
    padding: 1.5em 1em;
    text-align: center;
}

.work-item img {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.work-abilities ul {
    padding: 2em 0 1em 2em;
}

.work-abilities li {
    padding: 1em 0;
    color: #666;
    line-height: 1.2em;
}


.fas {
    color: #fbb7f4;
    padding-right: 1em;
    font-size: 0.6em;
}

/* End work section */

/* Contact section */

#contact {
    display: flex;
    flex-wrap: wrap;

    padding: 0 2em;
    padding: 5em 0;
}

.contact-info {
    width: 100%;
}

.contact-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-image img {
    width: 320px;
    height: 250px;
    border-radius: 4px;
}

.email {
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

.contact-social {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.contact-social li {
    margin: 1em;
}

.fab {
    padding: 1em;
    font-size: 0.8em;
    border-radius: 50%;
    background-color: #666;
}

.fab:hover {
    border: 2px solid #fbb7f4;
    background-color: #fbb7f4;
}


/* End contact section */

@media screen and (max-width:699px) {
    .header-navbar {
        width: 100%;
    }
}

/* TABLET */

@media screen and (min-width:700px) {

    .header-navbar {
        display: inline;
        border-radius: 25px;
        padding: 0.2em;
        margin: 1em 2em 1em 0;
        float: right;
    }

    .header-navbar li {
        float: left;
    }

    .header-logo {
        width: 48px;
    }

    .header-name {
        font-size: 1.6em;
    }

    .header-hamburger {
        display: none;
    }

    #about {
        padding-bottom: 3em;
    }

    .about-info {
        width: 50%;
        padding-right: 2em;
    }

    .about-image {
        width: 50%;
        padding-top: 2em;
        padding-right: 8em;
    }

    .about-image img {
        width: 240px;
        height: 240px;
        margin-left: 5em;
    }

    #work {
        padding: 3em 5em;
    }

    .work-item {
        width: 50%;
    }

    .work-item img {
        width: 230px;
        height: 142px;
    }

    .contact-info {
        width: 50%;
        padding-right: 2em;
        padding-left: 1em;
    }

    .contact-image {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .contact-image img {
        width: 360px;
        height: 270px;
        display: flex;
        justify-content: center;
        margin-right: 2.5em;
    }

    .fab {
        font-size: 1em;
    }
}

/* DESKTOP */

@media screen and (min-width:1000px) {
    .header-name {
        font-size: 1.6em;
    }


    .work-item {
        width: 50%;
        padding: 1.5em;
    }


    .work-item img {
        width: 290px;
        height: 180px;
    }
}

@media screen and (min-width:1200px) {

    .work-item {
        width: 33%;
    }
}